{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/help.css">
    <link rel="icon" sizes="32x32" href="../../static/img/favicon-32x32.png">
    <title>Help</title>
  </head>
  <a href="help" class="help-button">HELP</a>

  <body>
    <a href="home" class="home-button">HOME</a>
    <a href="home">
      <img class="logo-button" src="../../static/img/zolco logo.png" alt="Zolco logo">
    </a>
    <a href="help" class="help-button">HELP</a>
    <div class="container">

      <div class="left">
        <h1>Help Page</h1>
        <h2>If you need extra support email: zolco.verif@gmail.com</h4>
      </div>

      <div class="right">

        <h3>Sign Up</h3>
        <p>1. You can either click get started on the landing page or you can press the "sign up" hyperlink on the login page to get to the sign up page.</p>
        <p>2. From here you write your first and last name in the first two forms. You can not leave these blank.</p>
        <p>3. Now write your username, this only accepts alphanmumeric characters.</p>
        <p>4. Place your email in the following input form, you must have an @ to work.</p>
        <p>5. Write your password, it cannot be nothing and be sure not to forget it.</p>
        <p>6. Press create account, this will create your account and re-direct you to the login.</p>
        <p>|</p>

        <h3>Log In</h3>
        <p>1. In order to log in you can first press the button on the top right of the landing page titled sign in. Alternatively you can navigate to the /signin off of the root browser path.</p>
        <p>2. Now you want to place your username inside of the username input field on the right, this only accepts alphanumeric characters.</p>
        <p>3. Following this type your password into the password input box and hit log in.</p>
        <p>4. You should now be redirected to the dashboard to which you can start generating.</p>
        <p>|</p>

        <h3>Generate Report</h3>
        <p>1. First you want to navigate to the dashboard, you must be logged in to do this, it will appear on the dashboard after signed in.</p>
        <p>2. On the dashboard write the corrosponding class and student name under the first two labels.</p>
        <p>3. Adjust each of the sliders until you have the desired setting.</p>
        <p>4. Press generate and after a second you can either generate again or copy the text and save it if you like it.</p>
        <p>|</p>

        <h3>Log Out</h3>
        <p>1. You can log out on the dashboard via the logout icon next to your name or on the landing page.</p>
        <p>2. You can also hit the url path signout, this should work as well.</p>


      </div>

    </div>

  </body>

</html>